#Common
/protochess-common/target
/protochess-common/.idea

#Engine
/protochess-engine-rs/target
/protochess-engine-rs/.idea
/protochess-engine-wasm/target
/protochess-engine-rs/.idea

#Server
/protochess-server-rs/.idea
/protochess-server-rs/dist
/protochess-server-rs/target

#Front
/protochess-front/node_modules
/protochess-front/scripts
/protochess-front/package-lock.json
