#headerWrap{
    display: inline;
}
body {
    background-color: #FFFFFF;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
}

h1, h2, p, ul, li {
    font-family: sans-serif;
}

ul{
    list-style-type: none;
}
ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
}

ul.header {
    background-color: #111;
    padding: 0;
}

ul.header li a {
    color: #FFF;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
}

#title{
    color:black;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    display: inline-block;
    background-color: #999999;
}

.content {
    background-color: #afafaf;
    padding: 20px;
}

.content h2 {
    padding: 0;
    margin: 0;
}

.content li {
    margin-bottom: 10px;
}

.active {
    background-color: #0099FF;
}
